<p>Rules:</p>
<ul>
    <li>You must use descriptive titles</li>
    <li>Do not be an asshole</li>
    <li>Post quality content
        <ul>
            <li>Content must be original work, drive conversation, or relevant news. Please put everything else in the Free Talk Thread.</li>
        </ul>
    </li>
    <li>The down vote button is not a "fuck you" button</li>
    <li>No karma begging</li>
    <li>Do not copy and paste premium content</li>
    <li>Do not discuss how a movie with a human and a man-fish fucking won Best Picture</li>
    <li><a href="/r/BurntOrangeKoolAid">OH YEAH!</a></li>
</ul>
<hr>
<% if(show.football) { %>
<% include ../views/partials/sidebar/v2/football %>
<% } %>
<% if(show.basketball) { %>
<% include ../views/partials/sidebar/v2/basketball %>
<% } %>
<% if(show.baseball) { %>
<% include ../views/partials/sidebar/v2/baseball %>
<% } %>
<h1>LHN Info</h1>
<h4>Sources of News</h4>
<ul>
    <li><p><a href="/r/LonghornNation">/r/LonghornNation</a></p></li>
    <li><p><a href="http://www.burntorangenation.com/">Burnt Orange Nation</a></p></li>
    <li><p><a href="http://www.surlyhorns.com/">Surly Horns</a></p></li>
    <li><p><a href="http://www.barkingcarnival.com/">Barking Carvinal</a></p></li>
    <li><p><a href="http://texas.thefootballbrainiacs.com/">The Football Brainiacs</a></p></li>
    <li><p><a href="https://www.insidetexas.com">Inside Texas</a></p></li>
</ul>
<h4>Longhorn Nation Podcasts</h4>
<ul>
    <li><p><a href="https://soundcloud.com/HornsCast">4th and 5</a></p></li>
    <li><p><a href="https://open.spotify.com/show/5mxec62Zq5rzud3CtKMFmO?si=MFisXEi8SFCGoNhyZ-A38Q">Fire Tom Herman</a></p></li>
</ul>
<h4>Other Links</h4>
<ul>
    <li><p><a href="https://twitter.com/CoachTomHerman">Tom Herman Twitter</a></p></li>
    <li><p><a href="http://texassports.com/?path=football">Texas Football Homepage</a></p></li>
    <li><p><a href="https://texassports.com/index.aspx?path=mbball">Texas Men's Basketball</a></p></li>
    <li><p><a href="http://www.d1baseball.com/schools/texas.htm">Texas Baseball</a></p></li>
    <li><p><a href="https://twitter.com/rLonghornNation">Longhorn Nation Twitter</a></p></li>
    <li><p><a href="https://www.reddit.com//r/UTAustin">University of Texas Academic Subreddit</a></p></li>
    <li><p><a href="https://www.youtube.com/channel/UCKd8Yz4fvdIGQlmHvkedMAw">Longhorn Nation Game Archive</a></p></li>
</ul>
<sub>Generated on <%= date %></sub>
