REDDIT_KEY=
REDDIT_SECRET=
USERNAME=
PASSWORD=
SUBREDDIT=
TEAM_ID=251
PRODUCTION=true
BOT_TOKEN=
DISCORD_CHANNEL=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
JOB_TYPES='update-sidebar,game-thread,game-watcher,ftt,example'
MONGO_URL=
GAME_THREAD=['football', 'basketball']
BASEBALL=false
FOOTBALL=false
BASKETBALL=true